* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar section */

.navbar {
    color: #FFFBE9;
    background-color: #AD8B73;
}

.nav-icon {
    color: #FEF5ED;
    margin-right: 0.5rem;
}

.nav-tabs {
    margin-left: auto;
    margin-right: 2rem;
}

.nav-drawer {
    color: #FFFBE9;
}

.drawer-list {
    background-color: #FFFBE9;
}

/* hero section */

.hero {
    position: relative;
    color: #FEF5ED;
}

.hero-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("https://source.unsplash.com/9M66C_w_ToM");
    filter: brightness(60%);
}

/* service section */

.service-grid {
    padding: 8rem 0;
    text-align: center;
    color: #AD8B73;
}

.service-text {
    padding-top: 1.5rem;
}

/* product section */

.product-grid {
    padding: 5rem;
}

.product-grid-title,
.gallery-grid-title,
.contact-grid-title,
.review-grid-title {
    text-align: center;
    color: #7f3704;
    padding: 0rem 1rem 3rem;
}

.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-image {
    padding-top: 100%;
}
.product-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-title {
    padding-top: 0.25rem;
    padding-left: 0.5rem;
    color: #7f3704;
}

/* review section */

.review-star {
    color: #AD8B73;
}

.review-grid {
    margin-top: 2rem;
    background-color: #FFFBE9;
    padding: 8rem 0;  
}

.review-card-des {
    color: #666;
}

/* gallery section */

.gallery-box {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


/* contact us section */

.big {
    background-color: #FFFBE9;
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 0 8rem;  
}

.contact-us-image {
    width: 100%;
    max-width: 30rem;
    border-radius: 3rem;
}

.contact-us-content {
    padding: 0 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #7f3704;
}

.contact-item-item {
    padding-bottom: 2rem;
    color: #AD8B73;
}

.contact-icon {
    margin-right: 0.5rem;
}

/* footer */

footer {
    padding-top: 3rem;
    height: 8rem;
    color: #FEF5ED;
    background-color: #AD8B73;
    text-align: center;
    
}